
  .parallax1{
    background-image:  linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,1)),url(https://www.itl.cat/pngfile/big/22-225234_maldives-resorts.jpg);
    height: 480px ;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-size: cover;
  }


     
  #main1{
    /* margin-top: 3%; */
    padding: 10% 0 0 0;
    text-align: center;
    font-size: 4.5em;
    color: rgba(255, 255, 255, 0.918);
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

  #sub1{
      margin-top: 0;
      border-top: rgba(255, 255, 255, 0.65) solid 1px;
      border-bottom: rgba(255, 255, 255, 0.651) solid 1px;
      color: white;
      font-size: 1.2em;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center;
      padding: 1% 0 1% 0;
      width: 35%;
      margin-left:31.5% ;
      
  }
  .tour1{
      margin:10% 5% 25% 5%;
      background-image: url(./images/img2.jpg);
      background-repeat: no-repeat;
      border-radius: 5px;
      background-position: 50%;
      background-size: cover ;
      height: 450px;
    
     
    }
    .tour1:hover{
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.3)),url(./images/img2.jpg);
        
        
    }
   
    .placename{
        text-align: center;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 5em;
        padding: 2% 0 0 0;
        margin: 0;
        display: block;
}

    .buy-now{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 5em;
        text-align: center;
        color:#ffffff;
        width: 100%;
        padding-top: 2%;
        text-decoration: none;
       background-color: rgba(0, 0, 0, 0);
        display: none;
    }

    .tour:hover .placename{
        display: none;
    }

    .tour:hover .buy-now{
        display: block;
    }

    .grid-container1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8em;
        margin:0 8% ;
        padding:15% 0 0 0;
    }
    .description1{
        height: 270px;
        width: 100%;
        border-radius: 5px;
        box-shadow: rgb(34, 164, 240) 0 0 10px 1px;
      
       background-size: cover ;
       background-color: white;
    }
    .text{
        padding: 7% 5% 11% 5%;
        
        
    }
    .submain1{
        color: rgb(6, 29, 133);
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        margin: 0;
        padding-bottom: 5%;
      
    }
    .subline1{
        color: rgb(1, 23, 29);
        font-size:1.2em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        line-height: 1.5em;
        margin: 0;   
    }
    #star{
        padding-left: 3px;   
    }

    .tour2{
       
        margin:10% 5% 25% 5%;
        background-image: url(./images/img3.jpg);
        background-repeat: no-repeat;
        border-radius: 5px;
        background-position: 50%;
        background-size: cover ;
        height: 450px;
       
      }
      .tour2:hover{
          background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.3)),url(./images/img3.jpg);
      }
     
    .tour3{
       
        margin:10% 5% 20% 5%;
        background-image: url(./images/img4.jpg);
        background-repeat: no-repeat;
        border-radius: 5px;
        background-position: 50%;
        background-size: cover ;
        height: 450px;
       
      }
      .tour3:hover{
          background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.3)),url(./images/img4.jpg);
      }
     .pagination{
         display: inline-block;
         text-align: center;
     }
     .pagination a{
        color: rgb(16, 14, 131);
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        background-color: white;
        border: rgba(16, 14, 131, 0.267) solid .5px;


     }
     .pagination a:hover{
         background-color: rgb(29, 189, 230);
     }

     .end{
          text-align: center;
          
     }
     .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .parallax2{
        background-image:  linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,1)),url(./images/img5.jpg);
        height: 500px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        
       
      }
      
      #main2{
          /* margin-top: 3%; */
          padding: 10% 0 0 0;
          text-align: center;
          font-size: 4.5em;
          color: rgba(255, 255, 255, 0.918);
          font-family: 'Lato', sans-serif;
          font-weight: 800;
      }
      #sub2{
          margin-top: 4%;
          border-top: rgba(255, 255, 255, 0.65) solid 1px;
          border-bottom: rgba(255, 255, 255, 0.651) solid 1px;
          color: white;
          font-size: 1.2em;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-align: center;
          padding: 1% 0 1% 0;
          width: 40%;
          margin-left:29% ;
          
      }
      .head{
          margin-top: 8%;
          margin-bottom: 8%;
          text-align: center;
          font-size: 2em;
          color:rgba(12, 12, 189, 0.904) ;
          font-family: 'Lato', sans-serif;
          font-weight: 600;
      }
      .grid-container{
          display:grid;
          grid-template-columns:repeat(3,1fr);
          grid-gap: 2em ;
          margin: 5% 3% 5% 3%;
          
          
      }
      .grid1{
        grid-auto-rows: 200px;
      }
      .galimg{
          height: 100%;
          width: 100%;
          border-radius: 4px;
      }
    
    .img1{
        grid-row: 1/3;
    }
    
    .img5{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .img6{
        grid-column: 2/3;
    grid-row: 3/5;
    }
    .grid2{
    
        grid-template-rows: 200px 200px 250px;
      
    }
    .img10{
        grid-row: 1/3;
    }
    .grid3{
        grid-template-rows: 200px 200px 250px ;
    }
    .img16{
        grid-row: 2/4;
        grid-column: 3/4;
    }
    .img19{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .img20{
        grid-row: 2/4;
        
    }
    
     